@font-face {
    font-family: "Old Fenris";
    src: url(../font/Old\ Fenris.ttf);
  }
  /* ******style genéral ********/
  body {
    font-family: "Old fenris";
    color: #ec0b0bb7;
  }
  
  /* par section specifique */
  /* header */
  header nav img {
    width: 10%;
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.589)),
      url(../img/Diablo-III_-video-game_-minimal_-monster_-1080x2160-wallpaper.png);
    background-position: center;
    background-size: cover;
  }
  header nav {
    cursor: pointer;
    color: grey;
    width: 100%;
  }
  header nav ul {
    gap: 50px;
  }
  header nav ul li a:hover {
    background: rgba(211, 211, 211, 0.253);
    color: #ec0b0bb7;
  }
  header h1 {
    margin-top: 100px;
  
    margin-left: 100px;
  
    font-size: 80px;
    letter-spacing: 5px;
  }
  header p {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: right;
    margin-right: 100px;
    padding-bottom: 80px;
    margin-top: 20px;
  }
  header p:nth-of-type(2),
  header p:nth-of-type(3) {
    text-align: left;
    margin-left: 100px;
  }
  
  /* section presentation */
  #sectionpresentation {
    background-image: url(../img/fond\ noir\ texturer.jpg);
  }
  #sectionpresentation img {
    border-radius: 50px;
  }
  /* *****nftandus****** */
  #nftandus {
    background-image: url(../img/fond\ noir\ texturer.jpg);
  }
  #imgtyrael {
    width: 5%;
  }
  
  /* ****footer*** */
  footer {
    background-color: black;
    border-top: #ec0b0bb7 solid 2px;
  }